<% title "Iniciar Sesión" %>

<h3><%= yield(:title) %></h3>

<% form_tag session_path do -%>  
<div id="login" style="<%= "display:none" if params[:openid] %>">
  <p><em>Usar <%= link_to_function "OpenID", "toggleLoginForm()" %></em></p>
  <p><%= label_tag 'login', 'Usuario' %><br />
  <%= text_field_tag 'login', @login %></p>
  <p><%= label_tag 'password', 'Contraseña' %><br/>
  <%= password_field_tag 'password', nil %></p>
</div>

<div id="openid" style="<%= "display:none" unless params[:openid] %>">
  <p><em>Usar <%= link_to_function "Usuario y Contraseña", "toggleLoginForm()" %></em></p>
  <p><%= label_tag 'openid_identifier', "OpenID" %><br />
  <%= text_field_tag 'openid_identifier' %></p>
</div>

<p>
<%= check_box_tag 'remember_me', '1', @remember_me %>
<%= label_tag 'remember_me', 'Recuérdame' %>
</p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>

<p class="notes">
  <%= link_to '¿Olvidaste tu contraseña?', forgot_password_path %> | 
  Si no tienes usuario <%= link_to 'regístrate', new_user_path %>
</p>

<script type="text/javascript" charset="utf-8">
  function toggleLoginForm() {
    $('#login, #openid').toggle().filter(':visible').find('input:first').focus().parents('form').reset();
  }
</script>
