<% title t('views.sessions.new.title') %>

<h3><%= yield(:title) %></h3>

<% form_tag session_path do -%>  
<div id="login" style="<%= "display:none" if params[:openid] %>">
  <p><em><%= t('main.use') %> <%= link_to_function "OpenID", "toggleLoginForm()" %></em></p>
  <p><%= label_tag 'login', t('views.sessions.new.login') %><br />
  <%= text_field_tag 'login', @login %></p>
  <p><%= label_tag 'password', t('views.sessions.new.password') %><br/>
  <%= password_field_tag 'password', nil %></p>
</div>

<div id="openid" style="<%= "display:none" unless params[:openid] %>">
  <p><em><%= t('main.use') %> <%= link_to_function t('views.sessions.new.login_and_password'), "toggleLoginForm()" %></em></p>
  <p><%= label_tag 'openid_identifier', "OpenID" %><br />
  <%= text_field_tag 'openid_identifier' %></p>
</div>

<p>
<%= check_box_tag 'remember_me', '1', @remember_me %>
<%= label_tag 'remember_me', t('views.sessions.new.remember_me') %>
</p>

<p><%= submit_tag t('views.sessions.new.log_in') %></p>
<% end -%>

<p class="notes">
  <%= link_to t('views.sessions.new.forgotten_password'), forgot_password_path %> | 
  <%= t('views.sessions.new.no_user', :register_link => link_to(t('views.sessions.new.register'), new_user_path)) %>
</p>

<script type="text/javascript" charset="utf-8">
  function toggleLoginForm() {
    $('#login, #openid').toggle().filter(':visible').find('input:first').focus().parents('form').reset();
  }
</script>
