<% 
  if( !params[:search].blank? && params[:search] == 'speakers' )
    title(t('views.users.index.speakers'))
    
  elsif( 
    !params[:search].blank? && 
    params[:search] == 'event_attendees' &&
    !params[:event_id].blank?
  )
    title(t('views.users.index.attendees'))
  elsif @city
    title(t('views.users.index.attendees_from_city', :city => @city))
  else
    title(t('views.users.index.all_registered_users'))
  
  end
%>

<div class="bar">
  <ul>
    <li><%= link_to_unless_current t('views.users.index.all'), users_path( :page => '1' ) %> 
    (<%= admin? ? User.count : User.public_profile.count %>)</li>
  
    
    <li><%= 
      link_to_unless_current(
        t('views.users.index.attendees'), 
        users_path( 
          :params => { 
            :search => 'event_attendees', 
            :event_id => '1', 
            :page => '1'
          } 
        )
      )
    %> 
    (<%= admin? ? User.has_paid(1).count : User.public_profile.has_paid(1).count %>)</li>
    
    <li><%= link_to_unless_current t('views.users.index.speakers'), users_path( :params => { :search => 'speakers', :page => '1' } ) %>
    (<%= admin? ? User.speaker.count : User.public_speaker.count %>)</li>
  </p>
</div>

<h3><%= yield(:title) %></h3>

<div class="users">
<% for user in @users %>

  <div class="grid-item">
      <%=
        gravatar(
          user.email, 
          :size => 50, 
          :default => "#{base_url}/images/avatar.png",
          :class => 'avatar',
          :alt => "avatar de #{user.name}"
        )
      %>
      
      <br/>
      
      <%= link_to user.name, user %>

    <% if admin? %>
      <div class="tiny-actions">
        <%= link_to image_tag('edit.png'), edit_user_path(user) %>
        <%= link_to image_tag('delete.png'), user, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    <% end %>
  </div>
<% end %>
</div>

<% if @users.respond_to?( 'total_pages' ) %><%= paginate(@users) %><% end %>

<% if admin? %>
<div>
  <h4>Export list</h4>
  <p>
    <ul>
      <li><%= link_to 'PDF', users_path( params.merge( :page => nil, :format => :pdf ) ) %></li>
      <li><%= link_to 'XML', users_path( params.merge( :page => nil, :format => :xml ) ) %></li>
      <li><%= link_to 'CSV', users_path( params.merge( :page => nil, :format => :csv ) ) %></li>
    </ul>
  </p>
</div>
<% end %>