<% title t('views.users.new.title') %>

<h3><%= yield(:title) %></h3>

<% @user.password = @user.password_confirmation = nil %>
<%= error_messages_for :user %>

<% if @user.identity_url.blank? %>
  <% form_tag new_user_path, :method => :get, :id => "openid", :style => "display:none" do %>
  <p><em><%= t('main.use') %> <%= link_to_function t('views.users.new.login_password'), "toggleSignupForm()" %></em></p>
  <p><%= label_tag :openid_identifier, 'OpenID' %> <span>*</span><br/>
  <%= text_field_tag :openid_identifier %></p>
  <p><%= submit_tag t('views.users.new.signup') %></p>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
  function toggleSignupForm() {
    $('#new_user, #openid').toggle().filter(':visible').reset().find('input[type=text]:first').focus();
  }
</script>

<% form_for @user, :url => users_path do |f| -%>

  <% if @user.identity_url.blank? %>

  <p><em><%= t('main.use') %> <%= link_to_function "OpenID", "toggleSignupForm()" %></em></p>
  
  <% end %>
  
  <p><%= f.label :login, t('views.users.form.login'), :required => true %> <span class="example">my-nick</span><br/>
  <%= f.text_field :login %></p>

  <p><%= f.label :name, t('views.users.form.name'), :required => true %> <span class="example">Jorge Perez</span><br/>
  <%= f.text_field :name %></p>

  <p><%= f.label :email, 'Email', :required => true %><br/>
  <%= f.text_field :email %></p>
  
  <% if @user.identity_url.present? %>
  
    <%= f.hidden_field :identity_url %>
  
  <% else %>

    <p><%= f.label :password, t('views.users.form.password'), :required => true %><br/>
    <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation, t('views.users.form.password_confirm'), :required => true %><br/>
    <%= f.password_field :password_confirmation %></p>
  
  <% end %>
  
  <p><%= f.check_box :public_profile %><%= label_tag 'public_profile', t('views.users.form.public_profile') %> <span class="tip">(<%= t('views.users.form.email_not_shown') %>)</span></p>
  
  <p><%= submit_tag t('views.users.new.signup') %></p>
<% end -%>

<p class="notes"><%= t('views.users.form.required_fields') %></p>