<% title "#{@user.name}" %>

<h3>
  <%= yield(:title) %>
  <% if admin_or_current_user?(@user) %>
    <%= link_to image_tag('edit.png'), edit_user_path(@user) %>
  <% end %>
</h3>

<div class="entry profile">  
  
  <div class="left">
  <%=
    gravatar(
      @user.email, 
      :size => 65, 
      :default => "#{base_url}/images/avatar.png",
      :class => 'avatar',
      :alt => "avatar de #{@user.name}"
    )
  %>
  
  <% if @user.admin? %>
    <p><span class="organizer"><%= t('views.users.show.organizer') %></span></p>
  <% end -%>
  
  </div>
  
  <div class="right">
    
    <% if !@user.location.blank?  %>
      <p><%= t('views.users.show.from', :location_name => @user.location) %></p>
    <% end %>
    
    <%= simple_format(auto_link(@user.text)) %>  
      
    <dl>
    <% if !@user.company_name.blank? || !@user.company_url.blank?  %>
      <dt><%= t('views.users.show.company') %>: </dt>
      <dd><%= web_render( @user.company_name, @user.company_url ) %></dd>
    <% end %>
  
    <% if !@user.personal_web_name.blank? || !@user.personal_web_url.blank?  %>
      <dt><%= t('views.users.show.web_site')%>: </dt>
      <dd><%= web_render( @user.personal_web_name, @user.personal_web_url ) %></dd>
    <% end %>

    <% if !@user.twitter_user.blank? %>
      <dt><%= t('views.users.show.twitter')%>: </dt>
      <dd><%= link_to "http://twitter.com/#{@user.twitter_user}", "http://twitter.com/#{@user.twitter_user}" %></dd>
    <% end %>
    
    <% if !@user.github_user.blank? %>
      <dt><%= t('views.users.show.github')%>: </dt>
      <dd><%= link_to "http://github.com/#{@user.github_user}", "http://github.com/#{@user.github_user}" %></dd>
    <% end %>
    </dl>
  
  </div><!-- .right -->
  
  <% if !@user.speaker_on_visibles_for_user( current_user ).empty? %>
    <h4><%= t('views.users.show.talking_on') %></h4>
    <ul>
    <% @user.speaker_on_visibles_for_user( current_user ).each do |paper| %>
      <li><%= link_to paper.title, paper %></li>
    <% end %>
    </ul>
  <% end %>
  
  <% if admin_or_current_user?( @user ) && !@user.carts.purchased.empty? %>
    <h4><%= t('views.users.show.your_purchases')%></h4>
    <ul>
      <% @user.carts.purchased.each do |cart| %>
        <li>
          <%= cart.purchased_at.to_s(:date) %> :
          <% cart.events.each do |event| %>
            <%= link_to event.name, event %>, 
          <% end %>
          (<%= cart.total_price_on_euros %> €)
          <%= link_to 'View', cart %>
        </li>
      <% end %>
    </ul>
  <% end %>
  
</div>