<% title @event.name %>

<div class="entry">

  <h3><%= yield(:title) %></h3> 
  <p><%= @event.price_euros %> €</p>
  
  <%= simple_format(@event.description) %>
  
  <p><%= link_to t('views.events.show.pay'), new_cart_path %></p>

  <% if admin? %>
    <p>
      <%= link_to "&laquo; Go back to events", events_path %>
      | <%= link_to 'Edit', edit_event_path(@event) %>
    </p>
  <% end %>  
  
</div>