<p><%= t("views.carts.new.bank_transfer_intro") %></p>
        <ul>
          <li><%= t("views.carts.new.bank_transfer_bullets_1") %></li>
          <li><%= t("views.carts.new.bank_transfer_bullets_2") %></li>
          <li><%= t("views.carts.new.bank_transfer_bullets_3") %></li>
          <li><%= t("views.carts.new.bank_transfer_bullets_4") %></li>
        </ul>