<% title 'Purchase Conclusion' %>

<h3><%= yield(:title) %></h3>

<div class="entry">
  <ul>
  <% @cart.events.each do |event| %>
    <li>        
      <%= link_to event.name, event_path(event) %> (<%= event.price_euros %>€)
    </li>
  <% end %>
  </ul>

  <br/>

  <p><strong>TOTAL: <span id="total"><%= @cart.total_price_on_euros %>€</span></strong></p>

  <br/>

  <h6>Invoice info</h6>
  <table>
    <tr>
      <th><%= "Nombre" %></th>
      <td><%=h @cart.client_name %></td>
    </tr>
    <tr>
      <th><%= "CIF" %></th>
      <td><%= @cart.client_tax_code %></td>
    </tr>
    <tr>
      <th><%= "Dirección" %></th>
      <td><%= simple_format(h(@cart.client_address)) %></td>
    </tr>
    <tr>
      <th><%= "Teléfono" %></th>
      <td><%= @cart.client_phone %></td>
    </tr>
  </table>
    <p>
      <%= "Hay que efectuar el pago a la siguiente cuenta bancaria:" %>
    </p>
    <p>
      <i>IBAN ES81</i> 2100 2129 95 0200267722 - <b>SWIFT/BIC:</b> BKBKESMM
    </p>
    <p>
      <%= "En el concepto, hay que incluir tus apellidos y nombre." %>
    <p>

  <br/>
  
  <p><%= link_to "&laquo; Go back home", root_path %></p>
</div>