<% title 'Purchase Conclusion' %>

<h3><%= yield(:title) %></h3>

<div class="entry">
  <%= render :partial => 'event_list' %>

  <%= render :partial => 'billing_details', :locals => { :cart => @cart } %>
  
  <%= render(:partial => 'bank_transfer_info') if @cart.payment_type == 'transfer' %>
  <br/>
  
  <p><%= link_to "&laquo; Go back home", root_path %></p>
</div>