<% title t('views.carts.confirm.title') %>

<h3><%= yield(:title) %></h3>

<div class="entry">
  <%= render :partial => 'event_list' %>

  <%= render :partial => 'billing_details', :locals => { :cart => @cart } %>

  <% if @cart.payment_type == 'paypal' %>
    <% form_tag( APP_CONFIG[:paypal_url] ) do %>
      <!-- PAYPAL parameters:INI -->
      <%= hidden_field_tag :cmd, "_s-xclick" %>
      <%=
        hidden_field_tag( 
          :encrypted,
          @cart.paypal_encrypted(
            complete_cart_url( @cart ),
            notify_cart_url( @cart, :secret => APP_CONFIG[:paypal_secret] )
          )
        )
      %>
      <!-- PAYPAL parameters:END -->
      <p>
        <%= submit_tag t("views.carts.confirm.pay_pal_button"), :disabled => false, :disable_with => "Going to paypal..." %>
      </p>
    <% end %>
  <% else %>
    <h6><%= t("views.carts.confirm.bank_transfer_payment") %></h6>
    <% form_tag complete_cart_url(@cart) do %>
      <p>
        <%= submit_tag t("views.carts.confirm.bank_transfer_button"), :disabled => false, :disabled_with => "Please wait..." %>
      </p>
    <% end %>
  <% end %>
  <p>
    <%= link_to t("views.carts.confirm.modify_cart"), new_cart_path %> &nbsp;
  </p>
</div>