<% title t('views.carts.new.title') %>

<div class="cart new">
  <h3><%= yield :title %></h3>
  <p><%= t('views.carts.new.invoice_data_request') %></p>

  <% form_for @cart, :url => confirm_cart_path(@cart), :html => {:method => :post} do |f| %>
    <div class="payment">
      <div class="entry">
        <ul>
          <% Event.all.each do |event| %>
            <% if event.is_paid_for_user?( current_user ) %>
              <li>
                <%= link_to event.name, event_path(event) %> (<%= event.price_euros %>€)
                <br />
                <span class="paid"><%= t('views.carts.new.status.paid') %></span>
              </li>
            <% elsif event.is_waiting_confirmation_of_transfer?( current_user ) %>
              <li>
                <%= link_to event.name, event_path(event) %> (<%= event.price_euros %>€)
                <br />
                <span class="pending_confirmation"><%= t('views.carts.new.status.pending_confirmation') %></span>
              </li>
            <% elsif event.out_of_capacity? %>
              <li>
                <strike><%= link_to event.name, event_path(event) %> (<%= event.price_euros %>€)</strike>
                <span class="full"><%= t('views.carts.new.status.full') %></span>
              </li>
            <% else %>
              <li class="nobullet">
                <label for="event_<%= event.id %>">
                <%= 
                  check_box_tag(
                    'event_ids[]',
                    event.id,
                    @cart.events.include?( event ),
                    :id => "event_#{event.id}"
                  )
                %>
                <%=
                  hidden_field_tag(
                    'price[]', 
                    event.price_cents, 
                    :id => "price_#{event.id}"
                  )
                %>
                <%= event.i18n_name[I18n.locale] || event.name %></label>
                (<%= event.price_euros %>€) 
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      
      <p><%= t('views.carts.new.price_includes') %></p>
      <ul>
        <li><%= t('views.carts.new.price_includes_1st') %></li>
        <li><%= t('views.carts.new.price_includes_2nd') %></li>
        <li><%= t('views.carts.new.price_includes_3rd') %></li>
        <li><strong><%= t('views.carts.new.price_includes_4th') %></strong></li>
        <li><%= t('views.carts.new.price_includes_5th') %></li>
        <li><%= t('views.carts.new.price_includes_6th') %></li>
      </ul>
      
      <h4><%= t('views.carts.new.payment_method') %></h4>

      <div class="paymentType">
        <%= f.radio_button :payment_type, 'transfer', :onchange => "$('#bank-transfer').show();return false;" %>
        <%= label_tag :cart_payment_type_transfer, t("views.carts.new.bank_transfer") %>
        <br />
        <%= f.radio_button :payment_type, 'paypal', :checked => 'checked', :onchange => "$('#bank-transfer').hide();return false;" %>
        <%= label_tag :cart_payment_type_paypal, t("views.carts.new.paypal") %>
      </div>

      <div id="bank-transfer" style="display:none">
        <%= render :partial => 'bank_transfer_info' %>

      </div>

      <br />
    
      <p><strong><%= t("views.carts.new.total") %>: <span id="total">0</span>€</strong></p>
      
    </div><!-- payment -->
  
    <br />
   
    <div class="clientDetails">
      <h4><%= t("views.carts.new.invoicing_data_title") %></h4>
      <p>
        <%= f.label :client_name, t("views.carts.new.client_name") %>
        <br />
        <%= f.text_field :client_name %>
      </p>
      <p>
        <%= f.label :client_tax_code, t("views.carts.new.client_tax_code") %>
        <br />
        <%= f.text_field :client_tax_code %>
      </p>
      <p>
        <%= f.label :client_address, t("views.carts.new.client_address") %>
        <br />
        <%= f.text_area :client_address %>
      </p>
      <p>
        <%= f.label :client_phone, t("views.carts.new.client_phone") %>
        <br />
        <%= f.text_field :client_phone %>
      </p>
    </div>

    <br />

    <p>
      <%= submit_tag t("views.carts.new.next_step_button"), :disabled => false, :disabled_with => "Please wait..." %>
    </p>

  <% end %>

</div><!-- #paypal -->

<script>
  function update_total_cart_price(){
    var paymentTypes = <%= Cart::PAYMENT_TYPES.to_json %>;
    var total = 0;
    $(":checkbox").each(
      function() {
        if( this.checked ){
          total += parseInt( $('#price_' + this.value).val() );
        }
      }
    );
    total += (total * paymentTypes[$("input[name='cart[payment_type]']:checked").val()]);
    total = total / 100;
    total = total.toFixed(2);
    $('#total').html( total );
  }
  
  $(document).ready(function(){
    update_total_cart_price();
    $('.payment input').change( update_total_cart_price );
  });
</script>
