<% title t('views.calendar.show.title') %>

<h1><%= yield(:title) %></h1>

<div class="entry">
  <% if @dates.empty? %>
    <h3><%= t('views.calendar.show.comming_soon')%></h3>
  <% end %>

  <% @dates.each do |date| %>
    
    <h4><%=l date.to_date, :format => :short_month_day %></h4>

    <% @rooms.each do |room| %>
      <% papers_on_room = @papers.select{ |p| p.on_date_and_room_id?( date, room.id ) } %>

      <% if !papers_on_room.empty? %>
        <h6><%= room.name.capitalize %> Room</h6>

        <% papers_on_room.each do |paper| %>
          <p>
            <% if paper.family == Paper::FAMILY[:BREAK] %>
              <span class="date"><%= paper.date.strftime("%H:%M %p") %></span> Break (<%= link_to paper.title, paper %>)
            <% else %>
              <span class="date"><%= paper.date.strftime("%H:%M %p") %></span> <%= link_to paper.title, paper %>
            <% end %>
            <% if admin? %>
              <span class="actions"><%= link_to image_tag('edit.png'), edit_paper_path(paper) %></span>
            <% end %>
          </p>
        <% end %>

      <% end %>

    <% end %>
  <% end %>
</div>