<p>
  <%= f.label :title, t('views.papers.form.title'), :required => true %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :description, t('views.papers.form.description') %><br />
  <%= f.text_area :description, :class => 'large' %>
</p>

<% if admin? %>
  <p>
    <%= f.label :minutes, t('views.papers.form.minutes') %><br />
    <%= f.text_field :minutes %>
  </p>

  <p>
    <%= f.label :family, t('views.papers.form.family') %><br />
    <%= select( "paper", "family", Paper::FAMILY.values ) %>
  </p>  
<% end %>

<% if admin? %>

  <!-- datepicker -->
  <link rel="stylesheet" href="http://ui.jquery.com/latest/themes/flora/flora.datepicker.css" type="text/css" media="screen" title="Flora (Default)">
  <script src="http://ui.jquery.com/latest/ui/ui.datepicker.js"></script>
  <!-- datepicker -->

  <div>
    <p>
      <%= f.label :room_id, t('views.papers.form.room') %><br />
      <%=
        select(
          'paper', 
          'room_id', 
          Room.all.collect {|r| [ r.name, r.id ] },
          { :include_blank => true }
        )
      %>
    </p>
    <p>
      <%= f.label :date_form, t('views.papers.form.date') %><br />
      <%= f.text_field :date_form %>
      <script>
        $('#paper_date_form').datepicker({firstDay: 1, dateFormat: 'yy/mm/dd' });
      </script>
    </p>
    <p>
      <%= f.label :time_form, t('views.papers.form.time') %><br />
      <%= select( 'paper', 'time_form', times_array( '08', '20' ), { :include_blank => true } ) %>
    </p>
  </div>
  
<% end %>