<div class="comment" id="comment_<%= comment.id %>">
  <div class="left">
  <%=
    gravatar(
      comment.user.email, 
      :size => 32, 
      :default => "#{base_url}/images/avatar.png",
      :class => 'avatar',
      :alt => t('views.papers.comments.avatar_from', :name => comment.user.name)
    )
  %>
  </div>

  <div class="right">
    <p><%= link_to comment.user.name, user_path(comment.user) %> <span class="date"><a href="#comment_<%= comment.id %>"><%= comment.created_at.to_s(:short) %></a></span></p>
    <%= simple_format(auto_link(comment.text)) %>
  </div>
</div>