<% title t('views.papers.edit.title', :paper_title => @paper.title) %>

<h3><%= yield(:title) %></h3>

<% form_for(@paper) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'papers/basic_form', :locals => { :f => f } %>
  <br/>
  <p><%= f.submit t('views.papers.form.update_attributes_above') %></p>
<% end %>

<div class="form-block">
  <h6><%= t('views.papers.form.photo') %></h6>
  <p class="tip"><%= t('views.papers.form.photo_example') %></p>
  <%= render :partial => 'papers/photo_edit', :locals => { :paper => @paper } %>
</div>

<div class="form-block">
  <h6><%= t('views.papers.form.speakers') %></h6>
  <p class="tip"><%= t('views.papers.form.speakers_example') %></p>
  <div id="speakers">
    <%= render :partial => 'papers/speakers_edit', :locals => { :paper => @paper } %>
  </div>
</div>

<div class="form-block">
  <h6><%= t('views.papers.form.status') %></h6>
  <p class="tip"><%= t('views.papers.form.status_example') %></p>
  <%= render :partial => 'papers/status_edit', :locals => { :paper => @paper } %>
</div>

<div class="form-block">
  <h6><%= t('views.papers.form.resources') %></h6>
  <p class="tip"><%= t('views.papers.form.resources_example') %></p>
  <%= render :partial => 'papers/resources_edit', :locals => { :paper => @paper } %>
</div>