<% title t('views.papers.new.title') %>

<h3><%= yield(:title) %></h3>

<div class="entry">
  <% form_for(@paper) do |f| %>
    <%= f.error_messages %>
    
    <%= render :partial => 'basic_form', :locals => { :f => f } %>
    <div class="more">
    <p><%= t('views.papers.new.explanation_1') %></p>  
    <ul>
      <li><%= t('views.papers.new.explanation_2') %></li>
      <li><%= t('views.papers.new.explanation_3') %></li>
      <li><%= t('views.papers.new.explanation_4') %></li>
    </ul>
    </div>
    <p><%= f.submit t('views.papers.new.submit') %></p>
  <% end %>
</div>

<p class="notes"><%= t('views.papers.form.required_fields') %></p>