<% if admin? %>
<div class="box">
  <%= render :partial => 'layouts/admin_menu' %>
</div>
<% end %>

<div class="spot">
  <h3>¿Conferencia Rails?</h3>
  <p>
    Reunión anual de desarrolladores y empresas de habla hispana que trabajan con
    <%= link_to 'Ruby on Rails', 'http://rubyonrails.org' %>. El objetivo de la conferencia 
    es difundir este framework y poner
    en contacto a profesionales del sector.
  </p>
</div>

<div class="spot">
  
  <h3>Sponsorship <%= link_to '(info)', 'mailto:sponsors@conferenciarails.org' %></h3>
  
  <div class="sponsor">
    <a href="http://www.madridonrails.com" title="Madrid On Rails"><%= image_tag 'sponsors/madridonrails.png', :alt => "Madrid On Rails" %></a>
  </div>
  
  <div class="sponsor">
    <a href="http://the-cocktail.com" title="The Cocktail"><%= image_tag 'sponsors/thecocktail.png', :alt => "The Cocktail" %></a>
  </div>
  
  <div class="sponsor">
    <a href="http://www.vorago.es" title="Vorago"><%= image_tag 'sponsors/vorago.png', :alt => "Vorag" %></a>
  </div>

  <div class="sponsor">
    <a href="http://aspgems.com" title="ASPGems"><%= image_tag 'sponsors/aspgems.png', :alt => "ASPGems" %></a>
  </div>

  <div class="clear"></div>
 
</div>

<div class="spot">
  <%= image_tag "twitter.png" %>
  <h3>Síguenos en Twitter</h3>
  <p>
    Tenemos una cuenta Twitter donde puedes mantenerte informado
    de todo lo relacionado con la conferencia. Si nos sigues 
    te informaremos de las novedades. El usuario es
    <a href="http://twitter.com/conferenciaror">@conferenciaror</a>.
  </p>
</div>

<div class="spot">
  <%= image_tag "rails.png" %>
  <h3>¿Qué es Ruby on Rails?</h3>
  <p>
    Es un framework para la web escrito en el lenguaje de programación 
    <a href="http://www.ruby-lang.org/en/about/">Ruby</a>  
    que permite desarrollar aplicaciones web de un modo ágil y elegante.
  </p>
</div>

<!-- <div class="spot box">
  <h3>Contáctanos</h3>
  <p>
    
  </p>
  <p></p>
</div> -->