<% if admin? %>
<div class="box">
  <%= render :partial => 'layouts/admin_menu' %>
</div>
<% end %>

<div class="spot">
  <h3>¿Conferencia Rails?</h3>
  <p>
    Reunión anual de desarrolladores y empresas de habla hispana que trabajan con
    <%= link_to 'Ruby on Rails', 'http://rubyonrails.org' %>. El objetivo de la conferencia 
    es difundir este framework y poner
    en contacto a profesionales del sector.
  </p>
</div>

<div class="spot">
  <!--
  <h3>Sponsorship <%= link_to 'Get info', 'http://euruko2009.org/files/sponsorship_EuRuKo_2009.pdf' %></h3>
  
  
  <div class="sponsor silver">
    <a href="http://www.xing.com/?dpt=maes&ttp=spon&plf=euru&xtr=es0209" title="Xing"><%= image_tag 'sponsors/xing.png' %></a><br/>
    <p><a href="http://www.xing.com" title="Xing">Silver Sponsor: Xing</a></p>
  </div>
  <div class="sponsor">
    <a href="http://www.linkingpaths.com" title="Linking Paths"><%= image_tag 'sponsors/linking-paths.png' %></a><br/>
    <p><a href="http://www.linkingpaths.com" title="Linking Paths">Linking Paths</a></p>
  </div>
  <div class="sponsor">
    <a href="http://www.guebs.com" title="Guebs.com"><%= image_tag 'sponsors/guebs.png' %></a><br/>
    <p><a href="http://www.guebs.com" title="Guebs.com">Güebs</a></p>
  </div>
  <div class="sponsor">
    <a href="http://www.aspgems.com" title="ASPgems"><%= image_tag 'sponsors/aspgems.png' %></a><br/>
    <p><a href="http://www.aspgems.com" title="ASPgems">ASPgems</a></p>
  </div>
  <div class="sponsor">
    <a href="http://www.citilab.eu" title="Citilab"><%= image_tag 'sponsors/citilab.png' %></a><br/>
    <p><a href="http://www.citilab.eu" title="Citilab">Citilab</a></p>
  </div>
  <div class="sponsor">
    <a href="http://www.lunarlogicpolska.com" title="Lunar Logic Polska"><%= image_tag 'sponsors/lunar-logic-polska.png' %></a><br/>
    <p><a href="http://www.lunarlogicpolska.com" title="Lunar Logic Polska">Lunar Logic Polska</a></p>
  </div>
  <div class="sponsor">
    <a href="http://www.ameets.com" title="Ameets"><%= image_tag 'sponsors/ameets.png' %></a><br/>
    <p><a href="http://www.ameets.com" title="Ameets">Ameets</a></p>
  </div>
  <div class="sponsor">
    <a href="http://www.flowersinspace.com" title="Flowers in Space"><%= image_tag 'sponsors/flowers-in-the-space.png' %></a><br/>
    <p><a href="http://www.flowersinspace.com" title="Flowers in Space">Flowers in Space</a></p>
  </div>
  
  <div class="sponsor">
    <a href="http://www.microsoft.com" title="Microsoft"><%= image_tag 'sponsors/microsoft.png' %></a><br/>
    <p><a href="http://www.microsoft.com" title="Microsoft">Microsoft</a></p>
  </div>  
  <div class="clear"></div>
  -->
</div>

<div class="spot">
  <%= image_tag "twitter.png" %>
  <h3>Síguenos en Twitter</h3>
  <p>
    Tenemos una cuenta Twitter donde puedes mantenerte informado
    de todo lo relacionado con la conferencia. Si nos sigues 
    te informaremos de las novedades. El usuario es
    <a href="http://twitter.com/conferenciaror">@conferenciaror</a>.
  </p>
</div>

<div class="spot">
  <%= image_tag "rails.png" %>
  <h3>¿Qué es Ruby on Rails?</h3>
  <p>
    Es un framework para la web escrito en el lenguaje de programación 
    <a href="http://www.ruby-lang.org/en/about/">Ruby</a>  
    que permite desarrollar aplicaciones web de un modo ágil y elegante.
  </p>
</div>

<!-- <div class="spot box">
  <h3>Contáctanos</h3>
  <p>
    
  </p>
  <p></p>
</div> -->